@font-face { font-family: Warioware; src: url('../fonts/Wariowareinc.ttf'); } 
@font-face {font-family: Orkney; src: url('../fonts/Orkney_Regular_Italic.ttf');}


body
{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-size: cover, auto;
    background-image: url("../backgrounds/gold_bg_with_cloud.png");
    background-attachment: fixed, fixed;
}

#header {
    position: absolute;
    top: 2%;
    left: 23%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#back_button {
    height: 3.75em;
    margin-right: 3%;
    margin-top: 1%;
}

#player_header_container {
    border-radius: 3em;
    background-color: #9F8926;
    border: 0.4em solid white;
    padding: 0.1em 3.5em 0.1em 3.5em;
    height: 100%;  
}

#player_header_text {
    font-family: Warioware, sans-serif;
    color: white;
    font-size: 2.2vw;
    margin-bottom: 0;
}

#form_info {
    width: 90%;
    margin: auto;
    margin-top: 3%;
    margin-left: 5%;
    position: absolute;
    height: 90vh;
    /*background-image: url(../assets/clouds.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
}

.left {
    float: left;
    clear: left;
}

.right {
    float: left;
    clear: left;
}

.left_col {
    width: 50%;
    margin-right: 2em;
    display: inline-block;
}

.right_col {
    width: 50%;
    margin-left: 2em;
}

#info {
    width: 60%;
    margin: auto;
    margin-top: 11%;
    margin-left: 23%;
    position: absolute;
    display: flex;
}

.player_info {
    margin-bottom: 0.1em;
}

table {
    width: 100%;
}

.num_data {
    width: 3vw;
    padding-right: 0.1em;
}

.img_data {
    width: 5vw;
    padding-left: 0.1em;
    
}

.order_num {
    font-family: Warioware, sans-serif;
    font-size: 2.5vw;
    margin-bottom: 0;
}

.empty {
    font-family: Warioware, sans-serif;
    font-size: 2.5vw;
    margin-bottom: 0;
}

.pfp_image {
   /** margin-left: 0.5em;
    margin-right: 0.5em;
    width: 20%;**/
    height: 3em;
}

.name {
    font-family: Warioware, sans-serif;
    font-size: 2.5vw;
    margin-bottom: 0;
}



.center_submit_button {
    position: absolute;
    bottom: 5%;
    left: 43%;
    animation: float 6s ease-in-out infinite;
}

#player_footer_button {
    background-color: transparent;
    border: transparent;
}

#player_footer_container {
    border-radius: 3em;
    background-color: white;
    border: 0.4em solid #00B3F0;
    padding: 0.1em 2em 0.1em 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    animation: shadow 6s ease-in-out infinite;
}

#next_button:hover, #next_button:link, #next_button:visited, #next_button:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

#next_button_text {
    font-family: Warioware, sans-serif;
    color: black;
    font-size: 2.2vw;
    margin-bottom: 0;
}

#right_arrow_img {
    height: 1.25em;
    padding-left: 0.75em;
}

  @keyframes float {
	0% {
		transform: translatey(20px);
	}
	50% {
		transform: translatey(0px);
	}
	100% {
		transform: translatey(20px);
	}
    
}

@keyframes shadow {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.8);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.4);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.8);
	}
    
}
  