<!DOCTYPE html>
<html>
    <head>
        <title>
            
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


        <link rel="stylesheet" href="static/css/calculate_categories.css">

         <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <div id="header">
            <img onclick="history.back()" src="static/assets/back_button.png" alt="back button" id="back_button">
            <div id="player_header_container"><p id="player_header_text">3. Game Probabilities</p></div>
        </div>

        <p id="error_message">ERROR: All percentages must add up to 100% (Current % total: %)</p>

        <div id="title_row">
            <p class="title_text">Category (game amount)</p>
            <p class="title_text">Probability</p>
        </div>
        <div id="spreadsheet_info">
            
            {% for category, count, color, probability, enabled in values %}
            <div class="file_row">
                <button class="option_button">
                    {% if not enabled %}
                        <img src="static/assets/add_button.png" alt="add button" class="add_button_img">
                    {% endif %}
                    {% if enabled %}
                        <img src="static/assets/remove_button.png" alt="remove button" class="remove_button_img">
                    {% endif %}
                </button>
                <div class="category_info {{'deactivated' if not enabled }}"  style="border-color: #{{color}}">
                    <p class="category_name_and_amt">{{category}} ({{count}})</p>
                    <p class="hidden_amt">{{count}}</p>
                </div>
                {% if not enabled %}
                    <input class="name_field deactivated" type="number" oninput="this.value=this.value.slice(0,3)" name="name" placeholder="-" disabled></input>
                    <p class="percent_text disabled">%</p>
                {% endif %}
                {% if enabled %}
                    <input class="name_field" type="number" oninput="this.value=this.value.slice(0,3)" name="name" placeholder="{{probability}}"></input>
                    <p class="percent_text enabled">%</p>
                {% endif %}
            </div>
            {% endfor %}
            
        </div>
        <p id="total_amt">Total Games: 0</p>
           
        </div>

        
    
        
        <div class="center_submit_button">
            <button type="button" id="player_footer_button">
                <div id="player_footer_container">
                    <p id="next_button_text">Game Settings</p>
                    <img src="static/assets/black_right_arrow.png" alt="black right arrow" id="right_arrow_img">
                </div>
            </button>
        </div>

        

        <script src="static/js/calculate_categories.js"></script>

        <!-- Bootstrap Javascripts -->  
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>