<div id="value_buttons">
    <button class="value_button">
        <div class="value_div blue">
            <img src="static/assets/try_again.png" alt="Try Again image" class="value_div_img need_adjustment">
            <p class="value_div_text">- 0 pts</p>
        </div>
    </button>
    <button class="value_button">
        <div class="value_div green">
            <img src="static/assets/ok.png" alt="OK image" class="value_div_img">
            <p class="value_div_text">- 50 pts</p>
        </div>
    </button>
    <button class="value_button">
        <div class="value_div red">
            <img src="static/assets/superb.png" alt="Superb image" class="value_div_img need_adjustment">
            <p class="value_div_text">- 100 pts</p>
        </div>
    </button>
</div>