<!DOCTYPE html>
<html>
    <head>
        <title>
            
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


        <link rel="stylesheet" href="static/css/initialize_players.css">

         <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <div onclick="history.back()">Go back</div>
        
        <div id="info">
            {{data}}
        </div>

        

        
        <script src="static/js/show_info.js"></script>

    

        <!-- Bootstrap Javascripts -->  
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>