<!DOCTYPE html>
<html>
    <head>
        <title>
            
        </title>
        
        <link rel="stylesheet" href="start_page.css">

        <link rel="stylesheet" href="static/start_page.css">

         <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>

        <img src="static/assets/logo_title.png" alt="Rhythm Heaven Fever Title" id="logo_title">

        <div class="start_components">
            <img src="static/assets/samurai_drummer.png" alt="Samurai Drummer" id="samurai_drummer">
            <div class="start_button">
                <img src="static/assets/start_button.png" alt="Start Button" id="button_image">
                <a id="button_text" href="/initialize_players">
                    <div class="text_components">
                        <p id="text">Start Game</p>
                        <img src="static/assets/black_right_arrow.png" alt="black right arrow" id="arrow_image">
                    </div>
                </a>
            </div>
        </div>

        <!-- Bootstrap Javascripts -->  
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>